<p id="notice"><%= notice %></p>

<h1>Routes Result</h1>
<h3>再検索</h3>

<form>
      <div class="form-group">
        <label for="exampleInputEmail1">from</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Origin">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">to</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Destination">
      </div>
      <button type="submit" class="btn btn-default">検索</button>
</form>


<dl class="dl-horizontal">
  <dt>出発駅</dt><dd>...</dd>
  <dt>到着駅</dt><dd>...</dd>
  <dt>出発時刻</dt><dd>...</dd>
  <dt>到着時刻</dt><dd>...</dd>
  <dt>運賃</dt><dd>...</dd>
  <dt>路線</dt><dd>...</dd>
</dl>